
:: Deployment
echo Handling .NET Web Application deployment.

:: 1. Build to the temporary path
echo %MSBUILD_PATH%\msbuild {MSBuildArguments}
IF %ERRORLEVEL% NEQ 0 goto error

:: 2. SmartCopy [From] [To] [Manifest]
echo %SMART_COPY_COMMAND% %TEMPORARY_PATH% %DEPLOYMENT_TARGET% %MANIFEST_PATH%
IF %ERRORLEVEL% NEQ 0 goto error
